<h1>Inventory Items</h1>
<h2>Phones</h2>
<ul>
  <li *ngFor="let phone of phones">
      <h3>Name: {{phone.name}}</h3>
      <h3>Model: {{phone.model_id}}</h3>
      <h3>Year: {{phone.year}}</h3>
  </li>
</ul>

<h2>Laptops</h2>
<ul>
  <li *ngFor="let laptop of laptops">
      <h3>Name: {{laptop.name}}</h3>
      <h3>Model: {{laptop.model_id}}</h3>
      <h3>Year: {{laptop.year}}</h3>
  </li>
</ul>